.loader_body{
    width: 100vw;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    z-index: 10000;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.90);
}
.loader_body img{
  width: 150px;
  height: 150px;
}