@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Noto+Sans+Display:wght@300;400;500;600&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: rgb(162, 168, 255);
    border-radius: 20px;
  }
  
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  

#navbar{
    width: 100vw;
    min-height: 60px;
    max-height: fit-content;
    background-color: black;
}
#right_nav{
    position: absolute;
    right: 10px;
}
#left_nav{
    position: absolute;
    left: 10px;
}

.navbar-profile-box{
    width: fit-content;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 50px;
    transition: all 200ms ease;
}
.navbar-profile-box:hover{
    background-color: rgba(0, 0, 0, 0.11);
}
.navbar-profile-box img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background-position: center;
    vertical-align: middle;
}
.navbar-profile-box h4{
    font-size: 20px;
    color: white;
    margin: 0;
    margin-left: 8px;
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* navbar people fixed box css */
#people_list_list{
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.icons{
    cursor: pointer;
}
/* user info box css */

.home-page-user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.589);
}
.home-page-user-info-box{
    background-color: rgb(255, 255, 255);
    width: 40vw;
    min-height: 55vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: scale-display .5s;
}
.home-page-user-info-box-avtar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
}
.home-page-user-info-box-avtar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 2px solid black;
}
#imgInp{
    width: 90px;
}
.home-page-user-info-box-username{
    width: 100%;
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-page-user-info-box-username h4{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.705);
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
.home-page-user-info-box-username input{
    width: 50%;
    height: 30px;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    padding: 0;
}
.save-username-and-avtar{
    margin-top: 15px;
    border: 2px solid #0085eb;
    width: 50%;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: #0085eb;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 100ms ease;
    border-radius: 4px;
}
.save-username-and-avtar:hover{
    background-color: #0085eb98;
}
@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    99% {
        display: inline-flex;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        display: none;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@media only screen and (max-width: 800px){
    .home-page-user-info-box{
        width: 70vw;
    }
}
@media only screen and (max-width: 400px){
    .drop-dow-to-change-box{
        width: 100vw;
    }
}